.img1{
    display: block;
    background-color: lightskyblue;
    padding: 20px ;
    border : 20px solid red;
    margin-left: 10px;
} 

.img2{
    display: block;
    background-color: lightskyblue;
    padding: 20px ;
    border : 20px solid red;
    margin-left: 250px;
} 

.img3{
    display: block;
    background-color: lightskyblue;
    padding: 20px ;
    border : 20px solid red;
    margin-left: 490px;
} 

