body{
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    text-align: center;
}
h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 5,625r em;
    width: 50%;
    margin: 0 auto;
}
p{
    font-family: 'Give You Glory', cursive;
}